@model Queso.Models.Board

<style>
    .tile {
        width: 190px;
        height: 190px;
        border: 1px solid #efefef;
        float: left;
        margin: 5px 5px;
    }
    .tile-header {
        width: 190px;
        float: left;
        margin: 5px 5px;
        text-align: center;
        font-size: 50px;
    }
    .tile-container {
        width: 1100px;
    }
    .tile:nth-child(18) {
        background: #ccb8c1;
    }


</style>

<div class="tile-container">
    
    <div class="tile-header">Q</div>
    <div class="tile-header">U</div>
    <div class="tile-header">E</div>
    <div class="tile-header">S</div>
    <div class="tile-header">O</div>

    @foreach (var task in Model.Tasks)
    {
        <div class="tile" taskId="@task.TaskID">
            @task.Name - (@task.Challenge)
        </div>
    }


</div>




<!-- Modal -->
<div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form method="POST" action="/Board/Answer">
        <input id="TaskID" type="hidden" name="TaskID" />
        <input type="hidden" name="UserID" value="@Session["UserID"]"/>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">What say you?</h4>
                </div>
                <div class="modal-body">
                    <label>Case Number</label>
                    <input type="text" name="CaseNumber" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save changes">
                </div>
            </div>
        </div>
    </form>
</div>




<script language="javascript">
    $('document').ready(function () {
        $('.tile').click(function () {
            var taskId = $(this).attr("taskId");
            $('#TaskID').val(taskId);
            $('#answerModal').modal('show');
        });
    });
</script>

